.ikona1
{
	height: 80%;
	width:80%;
}
.ikones{
	height: 50%;
	width: 70%;
}

.ikona6 {
	height:100%;
	width:80%;
}
.topikona, div{
	margin-bottom: 20px;
}

.kentro {
	text-align: center;
}
.ikona7{
	width :90%;
	margin-bottom: 20px;
}
.ikona8 {
	width: 90%;

}
body{
	background-color:pink
}
img{
	border:#fa0754; border-width:5px; border-style:solid;
}
.border-text{
	border:#fa0754; border-width:3px; border-style:solid;
	padding: 10px;
	border-radius: 5%;
}